.functionsList {
    list-style: none;
    padding: 0;
}

.functions {
    padding: 2rem;
}
  
.functionsList li {
    background-color: #f9f9f9;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}